@import '../variables.css';

.container-post{
    width: 80%;
    border: 3px solid var(--selective-yellow);
    border-radius: 10px;
    margin: 6% 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px var(--shadow);
  
}

.user-perfil{
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    padding: 1% 2%;
}

.post-field{
    display: flex;
    padding: 2%;
}

.user-interactions{
    display: flex;
    border-top: 1px solid var(--selective-yellow);
    padding: 1% 2%;
    display: flex;  
}

.like-post{
    display: flex;
    justify-content: flex-start;
}

.num-likes{
    margin: 0 10%; 
}

.edit-post, .delete-post{
    display: flex;
    justify-content: flex-end;
}

.btn-like, .btn-confirm-edit, .btn-edit, .btn-delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-modal{
    display: none;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    left:0;
    top:0;
    animation: animate 1s;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15vh;
    border: 3px solid var(--selective-yellow);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 8px white;
    background-color: white;
    padding: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.modal h4{
    text-align: center;
}
.button-yes, .button-no{
    border-radius: 8px;
    height: 30px;
    width: 50px;
    background-color: var(--selective-yellow);
    border: solidi var(--selective-yellow);
    font-size: 16px;
    cursor: pointer;
    margin: 10% 0;
}

@keyframes animate{
    0% {
        transform: scale(.2);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.img-like:active {
    animation: animate 1s;
}