@import '../variables.css';

.container-login {
    background-color: white;
    border: 2px solid var(--selective-yellow);
    height: 99.5vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.logo-gf {
    width: 50%;
    margin-top: 35px;
    justify-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: var(--venetian-red);
    margin-top: 30%;
}

.form-login {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.required-item, .subtitle {
    color: var(--venetian-red);
    font-weight: bold;  
}

.subtitle{
    text-align: center;
}

.input-email, .input-password {
    border-radius: 8px;
    margin-bottom: 2%;
    font-size: 19px;
    border-color: var(--selective-yellow);
    margin-top: 8px;
}

.error-message{
    text-align: center;
    color: var(--venetian-red);
}

.btn-login {
    border-radius: 8px;
    height: 35px;
    background-color: var(--selective-yellow);
    border-color: var(--selective-yellow);
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 16px;
}

.btn-google {
    height: 30px;
    background-color: white;
    font-size: 16px;
    border-color: var(--selective-yellow);
    border-radius: 8px;
    top: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.google-logo {
    width: 8%;
    margin-right: 5%;
}

.option-register {
    color: var(--venetian-red);
    font-weight: bold;  
}
