@import "./pages/feed.css";
@import "./pages/register.css";
@import "./pages/signIn.css";
@import "./pages/writePost.css";
@import "./components/post.css";
@import "./components/navbar.css";
@import "./components/header.css";
@import "./components/footer.css";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}