@import '../variables.css';

.container-register{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.logotipo{
    width: 100vw;
    display: flex;  
}

.logo{
    width: 200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 5%;
}

.register {
    text-align: center;
    color: var(--venetian-red);
    margin: 3% 0;
}

.form-register{
    display: flex;
    min-width: 320px;
    min-height: 455px;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid var(--selective-yellow);
    border-radius: 15px;
    margin: 0 auto;
}

.required-item, .subtitle {
    color: var(--venetian-red);
    font-weight: bold;  
}

.input-email, .input-password, .input-name {
    border-radius: 8px;
    margin-bottom: 2%;
    font-size: 1rem;
    border:2px solid var(--selective-yellow);
    margin-top: 8px;
    width: 280px;
    height: 25px;
}

.subtitle{
    text-align: center;
    margin: 3% 0;
}

.error-message{
    text-align: center;
    color: var(--venetian-red);
    font-size: 0.7rem;
    margin-top: 2%;
    font-weight: bold;
    width: 90%;  
}

.btn-register {
    width: 280px;
    height: 35px;
    background-color: var(--selective-yellow);
    border:2px solid var(--selective-yellow);
    border-radius: 8px;
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 1rem;
    cursor: pointer;
}

.btn-register:hover{
    background-color: var(--mikado-yellow);
}

.text-register{
    margin: 2% auto;
}

.option-login {
    color: var(--venetian-red);
    font-weight: bold;  
    cursor: pointer;
}

/*RESPONSIVO PARA TABLETS*/
@media screen and (min-width:481px) and (max-width:960px){
    .container-register {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    
    .logotipo{
        width: 100vw;
        height: 50vh;
    }

    .logo {
        width: 280px;
        padding: 2%;
    }
    
    .form-register {
        margin: auto;
    }
}

/*RESPONSIVO PARA DESKTOP*/
@media screen and (min-width:961px) and (max-width:1440px){
    .container-register {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
    }

    .logotipo{
        width: 60vw;
        height: 100vh;
        display: flex; 
    }
    
    .logo {
        width: 500px;
        margin: 10%;
        padding: 10%;
    }

    .form-register{
        margin: auto;
    }
}