@import '../variables.css';

.container-login {
    background-color: var(--bg-color);
}

.logo {
    width: 15%;
    justify-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: var(--venetian-red);
}

.form-login {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.required-item, .register, .subtitle {
    color: var(--venetian-red);
}