@import '../variables.css';

.container-write-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.post-content{
    width: 80%;
    height: 25vh;
    border: 3px solid var(--selective-yellow);
    border-radius: 10px;
    margin: 5% 0;
}

.message-post{
    text-align: center;
    color: var(--venetian-red);
}
.btn-post {
    border-radius: 8px;
    height: 35px;
    width: 80%;
    background-color: var(--selective-yellow);
    border-color: var(--selective-yellow);
    margin-top: 2%;     
    font-size: 16px;    
}